
div.stButton>button {
    background-color: rgb(13 110 253);
    
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 0.6rem 1rem;
}


div.stButton>button:hover {
    background-color: #155a8a;
    color: white;
}


div.stButton>button:active {
    background-color: #0f3d63;
}